.wrapper {
  padding: 10px;

  border: 2.5px dashed gray;
  border-radius: 5px;
}

.top_section_wrapper {
  display: flex;
  align-items: center;
}

.info_wrapper {
  width: 100%;

  margin-left: 10px;

  font-size: x-large;
  word-wrap: anywhere;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_title {
  font-size: small;
}

.bottom_section_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_hint_text {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.no_data_msg {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0 10px;
  }
}
