.wrapper {
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper div {
  display: flex;
  align-items: center;
}

.app_name {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0 10px;
  }
}
