.wrapper {
  padding: 10px;

  border: 2.5px dashed gray;
  border-radius: 5px;
}

.section_wrapper span:first-child {
  font-weight: 600;
  margin-bottom: 5px;
}

.section_wrapper div {
  margin-left: 10px;
}

.section_wrapper,
.text_input_wrapper {
  display: flex;
  flex-direction: column;
}

.text_input_wrapper input {
  width: 50%;
}

.input_wrapper {
  margin-bottom: 10px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.print_button {
  cursor: pointer;
  text-transform: uppercase;

  padding: 10px 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: skyblue;

  background-color: #fff;

  transition-duration: 0.3s;
}

.print_button:hover {
  color: #fff;
  background-color: skyblue;
}

.print_button:active {
  background-color: rgb(91, 193, 233);
}

.print_button:disabled {
  cursor: not-allowed;

  border-color: gray;

  color: gray;
  background-color: #fff;
}

.required {
  font-weight: normal;

  color: red;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0 10px;
  }
}
